.building-main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;

    .business_type {
        width: 100%;
    }

    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 40px;
    }

    .collar {
        width: 60px;
        height: 20px;
        position: absolute;
    }

    .setting {
        width: 20px;
        height: 20px;
        position: absolute;
    }

    .go-three {
        position: absolute;
        width: 40%;
    }
}   

.building-setting-main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;

    .setting {
        width: 100%;
        height: auto;
    }

    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 40px;
    }
}

.popup {
    width: 100%;
}

.close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 15px;
}