.map-home {
    width: 100%;
    height: 100vh;
}

.flag-animation {
    width: 80px;
    height: 80px;
    position: relative;

    .flag-image {
        width: 100%;
        height: 100%;
    }

    .flag-icon {
        width: 20px;
        // height: 25px;
        margin-left: 30px;
        margin-top: 55px;
    }

    &-text {
        width: 100%;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: -0.41px;
        color: #fff;
        text-align: right;
        -webkit-text-stroke: 1px #000;
        position: absolute;
        top: 32px;
        left: 0;
        line-height: 22px;

        animation: mysecond .5s ease;
        -webkit-animation: mysecond .5s ease;
        animation-delay: .7s;
        -webkit-animation-delay: .7s;
        opacity: 0;
        transform: matrix(0.99, 0, -0.16, 1, 0, 0);
        white-space: nowrap;
        text-align: center;
    }
}


@keyframes mysecond {
    0% {
        top: 32px;
        opacity: 0;
        letter-spacing: -0.41px;
        font-size: 17px;
    }

    10% {
        top: 32px;
        opacity: .5;
        letter-spacing: -0.42px;
        font-size: 17px;
    }

    20% {
        top: 30px;
        opacity: .6;
        letter-spacing: -0.44px;
        font-size: 18px;
    }

    30% {
        top: 28px;
        opacity: .7;
        letter-spacing: -0.46px;
        font-size: 19px;
    }

    40% {
        top: 26px;
        opacity: .8;
        letter-spacing: -0.48px;
        font-size: 20px;
    }

    50% {
        top: 24px;
        opacity: .9;
        letter-spacing: -0.50px;
        font-size: 21px;
    }

    60% {
        top: 22px;
        opacity: 1;
        letter-spacing: -0.54px;
        font-size: 22px;
    }

    70% {
        top: 20px;
        opacity: .9;
        letter-spacing: -0.58px;
        font-size: 23px;
    }

    80% {
        top: 18px;
        opacity: .8;
        letter-spacing: -0.60px;
        font-size: 24px;
    }

    90% {
        top: 17px;
        opacity: .7;
        letter-spacing: -0.62px;
        font-size: 25px;
    }

    100% {
        top: 17px;
        opacity: .5;
        letter-spacing: -0.64px;
        font-size: 27px;
    }
}

@-webkit-keyframes mysecond {
    0% {
        top: 32px;
        opacity: 0;
        letter-spacing: -0.41px;
        font-size: 17px;
    }

    10% {
        top: 32px;
        opacity: .5;
        letter-spacing: -0.42px;
        font-size: 17px;
    }

    20% {
        top: 30px;
        opacity: .6;
        letter-spacing: -0.44px;
        font-size: 18px;
    }

    30% {
        top: 28px;
        opacity: .7;
        letter-spacing: -0.46px;
        font-size: 19px;
    }

    40% {
        top: 26px;
        opacity: .8;
        letter-spacing: -0.48px;
        font-size: 20px;
    }

    50% {
        top: 24px;
        opacity: .9;
        letter-spacing: -0.50px;
        font-size: 21px;
    }

    60% {
        top: 22px;
        opacity: 1;
        letter-spacing: -0.54px;
        font-size: 22px;
    }

    70% {
        top: 20px;
        opacity: .9;
        letter-spacing: -0.58px;
        font-size: 23px;
    }

    80% {
        top: 18px;
        opacity: .8;
        letter-spacing: -0.60px;
        font-size: 24px;
    }

    90% {
        top: 17px;
        opacity: .7;
        letter-spacing: -0.62px;
        font-size: 25px;
    }

    100% {
        top: 17px;
        opacity: .5;
        letter-spacing: -0.64px;
        font-size: 27px;
    }
}

@-moz-keyframes mysecond {
    0% {
        top: 32px;
        opacity: 0;
        letter-spacing: -0.41px;
        font-size: 17px;
    }

    10% {
        top: 32px;
        opacity: .5;
        letter-spacing: -0.42px;
        font-size: 17px;
    }

    20% {
        top: 30px;
        opacity: .6;
        letter-spacing: -0.44px;
        font-size: 18px;
    }

    30% {
        top: 28px;
        opacity: .7;
        letter-spacing: -0.46px;
        font-size: 19px;
    }

    40% {
        top: 26px;
        opacity: .8;
        letter-spacing: -0.48px;
        font-size: 20px;
    }

    50% {
        top: 24px;
        opacity: .9;
        letter-spacing: -0.50px;
        font-size: 21px;
    }

    60% {
        top: 22px;
        opacity: 1;
        letter-spacing: -0.54px;
        font-size: 22px;
    }

    70% {
        top: 20px;
        opacity: .9;
        letter-spacing: -0.58px;
        font-size: 23px;
    }

    80% {
        top: 18px;
        opacity: .8;
        letter-spacing: -0.60px;
        font-size: 24px;
    }

    90% {
        top: 17px;
        opacity: .7;
        letter-spacing: -0.62px;
        font-size: 25px;
    }

    100% {
        top: 17px;
        opacity: .5;
        letter-spacing: -0.64px;
        font-size: 27px;
    }
}
